body{
    text-align: center;
}

h1{
    font-family: 'Luckiest Guy', cursive; 
}
.quadrado{
    width: 90px;
    height: 70px;
    background-color: black;
    border: solid 1 white;
    display: inline-block;
}




